/**
 * BASE
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;

  background: $color-bg;
  color: $color-text;
}
