@import '~assets/styles/variables';

$color-white: #fff;
$color-black: #000;

.menubar {
  position: sticky;
  top: 0;
  background: $color-white;
  padding: $spacing-small 0.7 * $spacing-unit;

  &__button {
    $paddingV: 0.5 * $spacing-small;
    $paddingH: 0.6 * $spacing-small;

    // font-weight: bold;
    display: inline-flex;
    background: transparent;
    border: 0;
    color: $color-black;
    padding: $paddingV $paddingH;
    margin-right: 0.2 * $spacing-small;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-black, 0.05);
    }

    &.is-active {
      background-color: rgba($color-black, 0.1);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
