@import '~assets/styles/variables';

.menubar {
  position: sticky;
  top: 0;
  z-index: 99;
  background: $color-white;
  padding: $spacing-small 0.7 * $spacing-unit;

  &__button {
    $padding-vertical: $spacing-tiny;
    $padding-horizontal: 1 + $spacing-tiny;

    // font-weight: bold;
    display: inline-flex;
    background: transparent;
    border: 0;
    color: $color-text;
    padding: $padding-vertical $padding-horizontal;
    margin-right: 0.2 * $spacing-small;
    border-radius: $border-radius;
    cursor: pointer;

    &:hover {
      background-color: rgba($color-text, 0.05);
    }

    &.is-active {
      background-color: rgba($color-text, 0.1);
    }

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}
