h1, h2, h3 {
  margin: 0;
}

h1, .alpha {
  font-size: $font-size-huge;
  font-weight: 500;
  margin-bottom: $spacing-small;
}

h2, .beta {
  font-size: $font-size-large;
  margin-bottom: $spacing-small;
}
