/**
 * SPACING
 */
$font-family: system-ui;
$font-size: 18px;
$line-height: 30px;

$spacing-unit: $line-height;
$spacing-small: $spacing-unit * 0.5;
$spacing-medium: $spacing-unit;
$spacing-large: $spacing-unit * 2;

/**
 * GRID
 */
$grid-max-width: 960px;

/**
 * COLORS
 */
$color-text: #333;
$color-bg: #eee;
$color-brand: #d9007d;
