/**
 * SPACING
 */
$font-family: system-ui;
$font-size: 18px;
$line-height: 30px;
$spacing-unit: $line-height;

/**
 * GRID
 */
$grid-max-width: 960px;

/**
 * COLORS
 */
$color-text: #333;
$color-bg: #eee;
$color-brand: #d9007d;
